
/* Mobile Responsive Csss */
@media screen and (max-width: 768px){
    /* banner area */
    .banner{
        margin-top: 0;
    }
    .banner-content h1{
        font-size: 40px;
        line-height: 45px;
    }
    .banner div img{
        padding-left: 3px;
        clip-path: polygon(54% 0%, 76% 0%, 92% 40%, 104% 45%, 80% 89%, 71% 101%, 42% 91%, -15% 70%, 0% 35%, 20% 10%);
    }
    .banner-img .plus{
        right: 10%;
    }
    .banner-img::before {
        left: 60px;
    bottom: 31px;
    }
    .banner-img::after{
        left: 52px;
        bottom: 62px;
    }
    .banner-img .arrow{
        left: 32px;
    }
    /* Choice area */
    .choice-content{
        display: flex !important;
        flex-direction: column;
    }
    .choice  i{
        position: absolute;
        font-size: 10px;
        color: #fff;
        background: #5454D4;
        height: 50.3px;
        width: 50.3px;
        border-radius: 50%;
        padding-top: 20px;
        padding-left: 20px;
        left: 50%;
        top: 69%;
        transform: translate(-50% , 50%);
        cursor: pointer;
    }
    /* Service section Responsive */

    .services  h1{
        font-size: 30px;
        line-height: 35px;
    }
    .services-box-plus{
        left: 33px;
        
    }
    /* portfolio section  */

    .portfolio h3{
        font-size: 30px;
        line-height: 35px;
        z-index: 10;
    }
    .portfolio-content div:nth-child(2), .portfolio-content div:nth-child(3){
        margin-left: 0;
    }
    .portfolio-circle{
        right: 43px;
    top: -81px;
   
    }
    .dot{
        margin-top: 10px;
    }
    .portfolio .arrow{
        bottom: -40px;
    }
    /* Contact Css Responsive */

    .contact-content{
        flex-direction: column;
    }
    .contact-content h3{
        font-size: 25px;
        letter-spacing: 1px;
        padding: 0 5px;
    }
    .contact-content div {
        margin-top: 50px ;
        padding: 0 20px;
    }
    .contact-circle{
        left: 25px;
    }
    /* Footer css Responsive */

    
    .footer ul{
        flex-direction: column;
    }
    .footer ul li{
        margin: 8px 0;
    }
    .bg-color{
        width: 150px;
        height: 200px;
        top: 0;
        left: 0;
    }
    .bg-color-1{
        width: 150px;
        height: 200px;
        left: 0;
        top: 0;
    }
    .bg-color-2{
        width: 150px;
        height: 200px;;
        left: 0;
        top: 0;
    }
}
/* tab responsive */
@media only screen and (min-width:768px) and (max-width: 992px){
    .banner-img i:nth-child(4){
        right: 26px;
    }
    .banner-img i:first-child{
        left: 0;
        top: 17px;
    }
    .banner-img i:nth-child(2){
        left: -16px;
        bottom: -26px;
    }
    .banner-img i:nth-child(3){
        left: -2px;
        bottom: -43px;
    }
    .banner-img i:last-child{
        right: 25px;
    }
    .service-box{
        width: 300px;
    }
    .portfolio{
        text-align: center;
    }
    .portfolio-content{
        margin: 25px 146px;
    }
    .arrow{
        left: 38px;
    }
    .contact-content{
        display: flex;
        flex-direction: row;
    }
    .contact-content div{
        padding-bottom: 52px;
    }
    
}